 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 54px 352px 0 165px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 985px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-3 {
  width: 982px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  width: 982px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1002px;
  margin: 20px auto 39px;
}

.u-section-1 .u-repeater-1 {
  min-height: 282px;
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-1 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-2 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 10px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-3 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 10px 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-text-1 {
    width: 803px;
    margin-left: 75px;
    margin-right: 262px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 10px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-1 .u-text-2 {
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    width: 940px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 264px;
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
  }

  .u-section-1 .u-image-1 {
    height: 200px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
  }

  .u-section-1 .u-image-3 {
    height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1308px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 636px;
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
  }

  .u-section-1 .u-image-1 {
    height: 214px;
  }

  .u-section-1 .u-image-2 {
    height: 214px;
  }

  .u-section-1 .u-image-3 {
    height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 327px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 342px;
  }

  .u-section-1 .u-image-3 {
    height: 327px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 201px;
  }

  .u-section-1 .u-image-2 {
    height: 210px;
  }

  .u-section-1 .u-image-3 {
    height: 201px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 898px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  width: 981px;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 27px 141px 0 170px;
}

.u-section-2 .u-image-1 {
  width: 536px;
  height: 358px;
  margin: 26px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 24px 140px 24px 170px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 61px;
    margin-bottom: 26px;
    margin-left: 80px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 940px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 661px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 31px 345px 0 172px;
}

.u-section-3 .u-text-2 {
  margin: 21px 134px 0 172px;
}

.u-section-3 .u-text-3 {
  margin: 31px 134px 0 172px;
}

.u-section-3 .u-text-4 {
  margin: 31px 134px 0 172px;
}

.u-section-3 .u-text-5 {
  margin: 31px 134px 31px 172px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 803px;
    margin-top: 60px;
    margin-right: 255px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 66px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 53px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 46px;
    margin-left: 82px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 46px;
    margin-bottom: 60px;
    margin-left: 82px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}