.u-section-1 .u-sheet-1 {min-height: 826px}
.u-section-1 .u-text-1 {width: 680px; margin: 60px auto 0}
.u-section-1 .u-text-2 {width: 680px; margin: 20px auto 0}
.u-section-1 .u-layout-wrap-1 {margin: 30px auto 60px 0}
.u-section-1 .u-image-1 {min-height: 602px; background-image: url("images/received_401191610644248.jpeg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 20px}
.u-section-1 .u-image-2 {min-height: 301px; background-image: url("images/DSC_0408.JPG"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 20px}
.u-section-1 .u-image-3 {min-height: 301px; background-image: url("images/DSC_0142.JPG"); background-position: 50% 50%}
.u-section-1 .u-container-layout-3 {padding: 20px}
.u-section-1 .u-image-4 {min-height: 301px; background-image: url("images/DSC_0325.JPG"); background-position: 50% 50%}
.u-section-1 .u-container-layout-4 {padding: 20px}
.u-section-1 .u-image-5 {min-height: 301px; background-image: url("images/DSC_0047.JPG"); background-position: 50% 50%}
.u-section-1 .u-container-layout-5 {padding: 20px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 720px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 496px}
.u-section-1 .u-image-2 {min-height: 248px}
.u-section-1 .u-image-3 {min-height: 248px}
.u-section-1 .u-image-4 {min-height: 248px}
.u-section-1 .u-image-5 {min-height: 248px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 604px}
.u-section-1 .u-image-1 {min-height: 380px}
.u-section-1 .u-image-2 {min-height: 190px}
.u-section-1 .u-image-3 {min-height: 190px}
.u-section-1 .u-image-4 {min-height: 190px}
.u-section-1 .u-image-5 {min-height: 190px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1935px}
.u-section-1 .u-text-1 {width: 540px}
.u-section-1 .u-text-2 {width: 540px}
.u-section-1 .u-image-1 {min-height: 855px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-2 {min-height: 428px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-3 {min-height: 428px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-4 {min-height: 428px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-5 {min-height: 428px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1300px}
.u-section-1 .u-text-1 {width: 340px}
.u-section-1 .u-text-2 {width: 340px}
.u-section-1 .u-image-1 {min-height: 538px}
.u-section-1 .u-image-2 {min-height: 269px}
.u-section-1 .u-image-3 {min-height: 269px}
.u-section-1 .u-image-4 {min-height: 269px}
.u-section-1 .u-image-5 {min-height: 269px} }.u-section-2 .u-sheet-1 {min-height: 833px}
.u-section-2 .u-text-1 {margin: 60px 20px 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-2 .u-image-1 {min-height: 610px; background-image: url("images/mmexport1546715386373.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-2 {min-height: 305px; background-image: url("images/IMG_20190105_142835-01.jpeg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-3 {min-height: 305px; background-image: url("images/IMG_20181223_171714.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-4 {min-height: 305px; background-image: url("images/DSC_0228.JPG"); background-position: 50% 50%}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-image-5 {min-height: 305px; background-image: url("images/DSC_02741.JPG"); background-position: 50% 50%}
.u-section-2 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 726px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 503px}
.u-section-2 .u-image-2 {min-height: 251px}
.u-section-2 .u-image-3 {min-height: 251px}
.u-section-2 .u-image-4 {min-height: 251px}
.u-section-2 .u-image-5 {min-height: 251px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1764px}
.u-section-2 .u-image-1 {min-height: 771px}
.u-section-2 .u-image-2 {min-height: 385px}
.u-section-2 .u-image-3 {min-height: 385px}
.u-section-2 .u-image-4 {min-height: 385px}
.u-section-2 .u-image-5 {min-height: 385px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 3113px}
.u-section-2 .u-image-1 {min-height: 578px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {min-height: 578px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {min-height: 578px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-4 {min-height: 578px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-5 {min-height: 578px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 2043px}
.u-section-2 .u-image-1 {min-height: 364px}
.u-section-2 .u-image-2 {min-height: 364px}
.u-section-2 .u-image-3 {min-height: 364px}
.u-section-2 .u-image-4 {min-height: 364px}
.u-section-2 .u-image-5 {min-height: 364px} }.u-section-3 .u-sheet-1 {min-height: 658px}
.u-section-3 .u-layout-wrap-1 {margin: 70px 0}
.u-section-3 .u-image-1 {min-height: 529px; background-image: url("images/IMG_20180915_181046.jpg"); background-position: 100% 0%}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 265px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-text-1 {margin: 18px 0 0}
.u-section-3 .u-text-2 {margin: 20px 0 0}
.u-section-3 .u-image-2 {min-height: 265px; background-image: url("images/IMG_20180915_173400.jpg"); background-position: 100% 16.34%}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {min-height: 265px; background-image: url("images/IMG_20180915_172541.jpg"); background-position: 0% 80.73%}
.u-section-3 .u-container-layout-4 {padding: 30px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 100px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 436px}
.u-section-3 .u-layout-cell-2 {min-height: 218px}
.u-section-3 .u-image-2 {min-height: 218px}
.u-section-3 .u-image-3 {min-height: 218px} }

@media (max-width: 991px){ .u-section-3 .u-image-1 {min-height: 668px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-2 {min-height: 334px}
.u-section-3 .u-image-3 {min-height: 334px} }

@media (max-width: 767px){ .u-section-3 .u-image-1 {min-height: 501px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-2 {min-height: 501px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-3 {min-height: 251px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-image-1 {min-height: 315px}
.u-section-3 .u-image-2 {min-height: 315px}
.u-section-3 .u-image-3 {min-height: 158px} }.u-section-4 .u-sheet-1 {min-height: 833px}
.u-section-4 .u-text-1 {margin: 60px 20px 0}
.u-section-4 .u-text-2 {margin: 20px 0 0}
.u-section-4 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-4 .u-image-1 {min-height: 610px; background-image: url("images/FB_IMG_1537662691490.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-image-2 {min-height: 305px; background-image: url("images/mmexport1536987140695.jpg"); background-position: 50% 0%}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-image-3 {min-height: 305px; background-image: url("images/IMG_20180903_142048_460.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-image-4 {min-height: 305px; background-image: url("images/IMG_20180913_101704.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-image-5 {min-height: 305px; background-image: url("images/IMG_20180906_011651_675.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 726px}
.u-section-4 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 503px}
.u-section-4 .u-image-2 {min-height: 251px}
.u-section-4 .u-image-3 {min-height: 251px}
.u-section-4 .u-image-4 {min-height: 251px}
.u-section-4 .u-image-5 {min-height: 251px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 1764px}
.u-section-4 .u-image-1 {min-height: 771px}
.u-section-4 .u-image-2 {min-height: 385px}
.u-section-4 .u-image-3 {min-height: 385px}
.u-section-4 .u-image-4 {min-height: 385px}
.u-section-4 .u-image-5 {min-height: 385px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 3113px}
.u-section-4 .u-image-1 {min-height: 578px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {min-height: 578px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-3 {min-height: 578px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-4 {min-height: 578px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-5 {min-height: 578px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 2043px}
.u-section-4 .u-image-1 {min-height: 364px}
.u-section-4 .u-image-2 {min-height: 364px}
.u-section-4 .u-image-3 {min-height: 364px}
.u-section-4 .u-image-4 {min-height: 364px}
.u-section-4 .u-image-5 {min-height: 364px} }