.u-section-1 .u-sheet-1 {min-height: 628px}
.u-section-1 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 518px}
.u-section-1 .u-container-layout-1 {padding: 30px 60px 30px 30px}
.u-section-1 .u-text-1 {margin: 141px 0 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-image-1 {min-height: 259px; background-image: url("images/Screenshot2020-09-12192608.png"); background-position: 44.57% 50%; background-size: auto 115%}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-2 {min-height: 259px; background-image: url("images/IMG_20200623_163256__01.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-3 {min-height: 259px; background-image: url("images/Screenshot2020-09-12192635.png"); background-position: 50% 50%; background-size: auto 135%}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-image-4 {min-height: 259px; background-image: url("images/Screenshot2020-09-12192657.png"); background-position: 37.25% 50%}
.u-section-1 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 448px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 427px}
.u-section-1 .u-image-1 {min-height: 214px}
.u-section-1 .u-image-2 {min-height: 214px}
.u-section-1 .u-image-3 {min-height: 214px}
.u-section-1 .u-image-4 {min-height: 214px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 776px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-right: 30px}
.u-section-1 .u-image-1 {min-height: 364px}
.u-section-1 .u-image-2 {min-height: 364px}
.u-section-1 .u-image-3 {min-height: 364px}
.u-section-1 .u-image-4 {min-height: 364px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 2088px}
.u-section-1 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-1 .u-image-1 {min-height: 492px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-2 {min-height: 492px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-3 {min-height: 492px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-4 {min-height: 492px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1360px}
.u-section-1 .u-image-1 {min-height: 310px}
.u-section-1 .u-image-2 {min-height: 310px}
.u-section-1 .u-image-3 {min-height: 310px}
.u-section-1 .u-image-4 {min-height: 310px} }.u-section-2 .u-sheet-1 {min-height: 1008px}
.u-section-2 .u-text-1 {margin: 60px 20px 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-gallery-1 {height: 796px; grid-template-columns: auto auto auto; grid-gap: 17px 17px; margin: 30px auto 40px}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: repeat(3, auto); grid-gap: 17px}
.u-section-2 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-item-5 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-item-6 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-gallery-item-7 {box-shadow: 0 0 0 0 rgba(0,0,0,0)}
.u-section-2 .u-back-image-7 {object-position: 50% 50%}
.u-section-2 .u-over-slide-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); transition-duration: 0.5s; padding: 20px}
.u-section-2 .u-gallery-item-8 {box-shadow: 0 0 0 0 rgba(0,0,0,0)}
.u-section-2 .u-back-image-8 {object-position: 50% 50%}
.u-section-2 .u-over-slide-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); transition-duration: 0.5s; padding: 20px}
.u-section-2 .u-gallery-item-9 {box-shadow: 0 0 0 0 rgba(0,0,0,0)}
.u-section-2 .u-over-slide-9 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); transition-duration: 0.5s; padding: 20px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 868px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-gallery-1 {height: 656px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1468px}
.u-section-2 .u-gallery-1 {height: 1256px; grid-template-columns: auto auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 3603px}
.u-section-2 .u-gallery-1 {height: 3391px; grid-template-columns: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 2347px}
.u-section-2 .u-gallery-1 {height: 2135px; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 890px}
.u-section-3 .u-text-1 {animation-duration: 1000ms; margin: 60px 20px 0}
.u-section-3 .u-text-2 {margin: 20px 0 0}
.u-section-3 .u-gallery-1 {height: 581px; grid-template-columns: repeat(4, auto); grid-gap: 17px; margin: 30px auto 0}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(4, auto); grid-gap: 17px}
.u-section-3 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-gallery-item-7 {box-shadow: 0 0 0 0 rgba(0,0,0,0)}
.u-section-3 .u-back-image-7 {object-position: 50% 50%}
.u-section-3 .u-over-slide-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); transition-duration: 0.5s; padding: 20px}
.u-section-3 .u-gallery-item-8 {box-shadow: 0 0 0 0 rgba(0,0,0,0)}
.u-section-3 .u-back-image-8 {object-position: 50% 50%}
.u-section-3 .u-over-slide-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); transition-duration: 0.5s; padding: 20px}
.u-section-3 .u-btn-1 {margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 788px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-3 .u-gallery-1 {height: 479px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1777px}
.u-section-3 .u-gallery-1 {height: 1468px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 4713px}
.u-section-3 .u-gallery-1 {height: 4404px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 3082px}
.u-section-3 .u-gallery-1 {height: 2773px; margin-right: initial; margin-left: initial} }