.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-image-1 {
  width: 585px;
  height: 585px;
  margin: 138px 26px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: -290px 634px 0 84px;
}

.u-section-1 .u-text-2 {
  margin: 15px 660px 60px 84px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 43px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-right: 617px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 664px;
    margin-left: 67px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-image-1 {
    width: 474px;
    height: 474px;
    margin-top: 126px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -280px;
    margin-right: 487px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 38px;
    margin-right: 506px;
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-image-1 {
    width: 316px;
    height: 316px;
    margin-top: 142px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -234px;
    margin-right: 314px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 344px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 200px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -404px;
    margin-right: 78px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 391px;
    margin: 357px auto 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 218px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -422px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 360px 0 15px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 782px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 41px 256px 0 82px;
}

.u-section-2 .u-text-2 {
  margin: 20px 82px 0;
}

.u-section-2 .u-text-3 {
  margin: 27px 82px 0;
}

.u-section-2 .u-image-1 {
  width: 510px;
  height: 380px;
  margin: 20px auto 0 82px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: -22px 716px 0 175px;
}

.u-section-2 .u-text-5 {
  margin: -364px 82px 61px 621px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 616px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin: -380px 73px 19px 557px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    width: 408px;
    height: 317px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 41px;
    margin-right: 471px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin: -400px -10px 2px 420px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 40px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 291px;
  }

  .u-section-2 .u-text-5 {
    margin: 21px 61px 0 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 264px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 91px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 81px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 631px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 451px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 315px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}